/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*////CODE START////*/
body#main-layout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: #666666;
  font-size: 14px;
  font-family: "poppins", sans-serif;
  line-height: 1.80857;
  font-weight: normal;
  overflow-x: hidden;
  height: 100%;
}
/* Styling section titles */
div.titles {
  padding-bottom: 6px;
  font-size: 40px;
  font-weight: bold;
  color: #050303;
  line-height: 46px;
  border-bottom: #0fc690 solid 1px;
  width: 360px;
  margin: 0 auto;
}
#pet-care,
#get-involved,
#contact-us,
#our-litter {
  text-align: center;
  margin-bottom: 5px;
}
/* Header styling */
.intro {
  max-width: 100%;
  height: 350px;
  background-image: url("Img/doggy.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

div.main-container {
  padding-left: auto;
  padding-right: auto;
}
/* sticky navbar */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .test {
  padding-top: 80px;
}
/* styling the navbar */
#navContainer {
  background: #0fc690;
  width: 100%;
  padding: 15px 15px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}
#menuBar {
  justify-content: center;
  display: flex;
  flex-direction: row;
}
/* Style the links inside the navigation bar */
#menuBar a {
  color: #f2f2f2;
  text-align: center;
  padding: 12px 25px;
  text-decoration: none;
  font-size: 17px;
  border-style: none solid;
  border-width: thin;
  border-color: white;
  box-sizing: border-box;
}

a#nav-link-first {
  border-style: none solid;
  border-width: none thin none ;
}

a#nav-link-last {
  border-style: none solid;
  border-width: none thick none thin;
}

/* Change the color of links on hover */
#menuBar a:hover {
  color: black;
}

/* styling our litter section  */
.java-dawg {
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
}

div#our-litter {
  padding-top: 120px;
}
img {
  height: 300px;
  width: 300px;
  object-fit: cover;
}
.card-container {
  display: flex;
  flex-flow: row wrap;
  margin: 1rem;
  padding: 1rem;
  justify-content: center;
}
.card-container div {
  margin: 1rem;
  padding: 1rem;
}
/* styling pet care section  */
div#pet-care {
  background: #f4f4f4;
  width: 100%;
  height: 100px;
}

/* Styling volunteer section  */
div.volunteer-container {
  align-items: center;
  background: #f4f4f4;
  display: flex;
  flex-direction: row;
}

div.volunteer {
  border-width: 5px;
  width: 100%;
  padding: 25px 10% 20px 10%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  /* height: 350px; */
  background-image: url("Img/volunteerDog.jpg");
  background-repeat: no-repeat;
  background-position:initial;
  background-size: cover;
}

ul#volunteer-list {
  padding-left: 1.3em;
  margin-left: .5em;
}

div#vol-body {
  flex: 50%;
  padding: 2em 3em;
  margin-right: 1.5em;
  display: flex;
  flex-direction: column;
  background-color: white;
}

p#vol-words {
  width: 65vw;
  height: 100%;
  justify-content: center;
  text-align: center;
}
div#volunteer-form-section {
  flex: 50%;
  align-self: center;
  box-sizing: border-box;
  background-color: white;
}

form#volunteer-form {
  padding: 5em 20em 5em 3em;
  margin-left: 1.5em;
  height:100%;
}

#questionaire {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  margin: 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

ul#volunteer-list {
  padding: 0;
  margin: 0;
}

li.vol-list-item {
  padding-left: 16px;
}

li.vol-list-item::before {
  content: "\2022";
  padding-right: 8px;
  color: #4caf50;
}

/* volunteer form  */
#questionaire {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  margin: 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.label {
  font-size: 17px;
  color: black;
}
/* Footer edits*/
.linked-names {
  color: black;
  text-decoration: none;
  font-size: 20px;
  flex-wrap: wrap;
}
.linkedin {
  width: 100%;
  flex-direction: row;
}
.linkedin img {
  height: 80px;
  width: 80px;
  object-fit: cover;
  flex-direction: row;
  justify-content: center;
  /* flex-wrap: wrap; */
}
a:link {
  text-decoration: none;
}
footer {
  width: 100%;
}
